/* External color: #087f5b */
/* Text Color: #212529*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "inter", sans-serif;
  color: #495057;
}

.accordion {
  width: 700px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.items {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding: 24px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 24px;
}

.open {
  border-top: 4px solid #087f5b;
}
.open .hidden {
  display: block;
}
.open .text,
.open .number {
  color: #087f5b;
}

.hidden {
  grid-column: 2;
  display: none;
}

.hidden p {
  line-height: 1.6;
}
.icon {
  width: 24px;
  stroke: #087f5b;
}

.text,
.number {
  font-size: 24px;
  font-weight: 500;
  color: #212529;
}

.number {
  color: #ced4da;
}

.hidden p,
.hidden ul {
  font-size: 16px;
}

.hidden p {
  margin-bottom: 30px;
}

ul {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #868e96;
}
